@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    list-style: none;
    line-height: 1,5;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
}
.logo{
    display: flex;
    flex: 1;        
}
.logo > img{
    height: 100px;
    width: 100px;
}
.menu{
    list-style: none;
    display: flex;
    flex: 2;
}
.menu li{
    padding: 40px 18px;
}
.menu > li a{
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;
    text-decoration: none;

}   
.sign > li a{
    text-decoration: none;
}
.sign{
    list-style: none;
    display: flex;
    flex: 1;
    font-size: 20px;
    font-weight: bold initial;
}
.sign > li {
    padding: 40px 5px;
}
.content{
    width: 1400px;
    margin: auto;
}
.content-h > h1{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.content-m{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 21% 21%;
    
    justify-content: space-around;
}
.content-m-img > img{
    width: 300px;
    height: 300px;
    border-radius: 15px;

}
.content-m-note{
    display: flex;
    list-style: none;
    width: 100%;
}
.content-m-note > li{
    font-size: 20px;
    padding: 10px 90px;
    width: 100%;

}

.footer{
    background-color: #a2a5ae;
    padding: 70px 0;
}
.foot--con{
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.foot--con h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}
.foot--con h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: px;
    box-sizing: border-box;
    width: 100px;

}
.foot--con ul li:not(:last-child){
    margin-bottom: 10px;
}
.foot--con ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300px;
    color: #E8E8E8;
    display: block;
    transition: all 0.3s ease;
}
.foot--con ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

}
.foot--con .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255.255.255.0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.foot--con .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.foot--con-col{
    width: 25%;
    padding: 0 5px; 
}

[class*="carousel-item"]
    img{
        width: 1517px;
        height: 620px;
        padding-bottom: 40px;
    }
    .card{
        padding-bottom: 30px;
    }
    .card a > img{
        height: 300px;
        border-radius: 20px;
        border: none
    }
    .card-body{
        font-size: 13px;
    }
    @media screen and  (max-width:570px){
        body{
            width: 570px;
        }
        div.container{
            height: 100px;
            display: flex;
        }
        .logo{
            flex: none;
        }
        div.logo{
            width: 70px;
            height: 100px;
        }
        .logo img{
            width: 1250px;
            height: 100px;
        }
        .menu{
            padding-top: 20px;
            padding-left: 50px;
        }
        .menu li{
           padding: 20px 20px 10px 30px;
           margin: 0;
           flex: none;
        }
       .menu li a{
        font-size: 17px;
       }
       .sign{  
        display: flex;
        padding-top: 20px;
        flex-direction: column;
 
       }
  
       .sign i{
       display: none;      
       }
       .sign li a{
        font-size: 14.5px;  
        
        }
        .active{
            overflow: hidden;
        } 
        .carousel-indicators button{
            display: none;
        }
        .carousel-inner img{
            width: 400px;
            height: 350px;
        }
        .content {
            width: 750px;
            display: block;
        }
        .content-h{
            width: 550px;
            padding-bottom: 30px;
        }
        .content-m{
            grid: none;
            width: 550px;
        }
        .footer{
            padding: 10px;
        }
}